/* Dark: #1a1919
 * Medium: #353535
 * Light: #464646
 */
.label {
  -fx-text-fill: #fff;
}

.dark-bg {
  -fx-background-color: #1a1919;
  -fx-text-fill: #fff;
}

.medium-bg {
  -fx-background-color: #464646;
  -fx-text-fill: #fff;
}

.light-bg {
  -fx-background-color: #fff;
  -fx-text-fill: #000;
}

.menu-bar {
  -fx-background-color: #464646;
}

.menu .label {
  -fx-text-fill: #fff;
}

.menu:hover {
  -fx-background-color: #353535;
}

.menu:showing {
  -fx-background-color: #353535;
}

.menu-item .label {
  -fx-text-fill: #000;
}

.menu-item:focused {
  -fx-background-color: #353535;
}

.menu-item:focused .label {
  -fx-text-fill: #fff;
}

.context-menu {
  -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
  -fx-background-color: #fff;
  /*-fx-background-insets: 0,1,2;*/
  /*-fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;*/
  -fx-padding: 0;
}

/* Init colors
#ff0000
#ff6600
#ffff00
#00ff00
#0000ff
#00ffff
#ff00ff
#ffffff
*/

.red {
  -fx-fill: #ff0000;
  -fx-background-color: #ff0000;
  -fx-text-fill: #fff;
}

.orange {
  -fx-fill: #ff6600;
  -fx-background-color: #ff6600;
  -fx-text-fill: #fff;
}

.yellow {
  -fx-fill: #ffff00;
  -fx-background-color: #ffff00;
  -fx-text-fill: #000;
}

.green {
  -fx-fill: #00ff00;
  -fx-background-color: #00ff00;
  -fx-text-fill: #000;
}

.blue {
  -fx-fill: #0000ff;
  -fx-background-color: #0000ff;
  -fx-text-fill: #fff;
}

.teal {
  -fx-fill: #00ffff;
  -fx-background-color: #00ffff;
  -fx-text-fill: #000;
}

.violet {
  -fx-fill: #ff00ff;
  -fx-background-color: #ff00ff;
  -fx-text-fill: #fff;
}

.white {
  -fx-fill: #fff;
  -fx-stroke: #000;
  -fx-background-color: #fff;
  -fx-text-fill: #000;
}

.active {
  -fx-background-color: rgb(57, 205, 54);
  -fx-text-fill: #fff;
}
