.version.contact /* version checker */
{
	color: #0000FF;
	background-color: #F92418;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	z-index: 1;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background: transparent url("../images/sayagata-400px.png") repeat left top;
}

#u2944
{
	z-index: 8;
	background-color: #F0F0F0;
}

#u2944_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u2945
{
	z-index: 9;
	background-color: transparent;
	position: relative;
}

#u2945_img
{
	width: 100%;
}

.MenuItem
{
	cursor: pointer;
}

#u2944-bw
{
	z-index: 8;
}

#u302
{
	width: 79px;
	position: relative;
	z-index: 6;
}

#u247-4
{
	position: relative;
	min-height: 18px;
	z-index: 2;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1367px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 580px;
		padding-bottom: 12px;
		max-width: 1920px;
	}

	#u2944
	{
		min-height: 85px;
		padding-bottom: 13px;
	}

	#u2944_align_to_page
	{
		max-width: 1920px;
	}

	#u2945
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 13.29%;
		left: 1.05%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 643px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 30px;
		left: 64.8%;
	}

	#u2969
	{
		width: 126px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2972
	{
		width: 126px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2973-4
	{
		width: 126px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 126px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972.MuseMenuActive #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 126px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 127px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 128px;
	}

	#u2959-4
	{
		width: 127px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 127px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 127px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 257px;
	}

	#u2981-4
	{
		width: 127px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956.MuseMenuActive #u2959-4,#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 127px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 127px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 386px;
	}

	#u2956,#u2979,#u2951
	{
		width: 127px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 127px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979.MuseMenuActive #u2981-4,#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 127px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 127px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 515px;
	}

	#u2965
	{
		width: 127px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 127px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 127px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 127px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 127px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944-bw
	{
		min-height: 85px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 63px;
		left: 47.97%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 116px;
		width: 13.13%;
		left: 82.66%;
	}

	.verticalspacer
	{
		min-height: 340px;
	}
}

@media (min-width: 1025px) and (max-width: 1366px)
{
	#muse_css_mq
	{
		background-color: #000556;
	}

	#bp_1366.active
	{
		display: block;
	}

	#page
	{
		min-height: 549px;
		padding-bottom: 16px;
		max-width: 1366px;
	}

	#u2944
	{
		min-height: 63px;
		padding-bottom: 14px;
	}

	#u2944_align_to_page
	{
		max-width: 1366px;
	}

	#u2945
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 13.26%;
		left: 1.03%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 582px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 55.64%;
	}

	#u2969
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2972
	{
		width: 114px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2973-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972.MuseMenuActive #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 116px;
	}

	#u2959-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 233px;
	}

	#u2981-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956.MuseMenuActive #u2959-4,#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 350px;
	}

	#u2956,#u2979,#u2951
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979.MuseMenuActive #u2981-4,#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 467px;
	}

	#u2965
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 115px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944-bw
	{
		min-height: 63px;
		margin-top: 1px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 23px;
		left: 47.15%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 93px;
		width: 13.11%;
		left: 84.78%;
	}

	.verticalspacer
	{
		min-height: 360px;
	}
}

@media (min-width: 961px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 1024px;
	}

	#u2944
	{
		min-height: 58px;
		padding-bottom: 9px;
	}

	#u2944_align_to_page
	{
		max-width: 1024px;
	}

	#u2945
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 13.29%;
		left: 1.08%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 581px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 9px;
		left: 41.31%;
	}

	#u2969
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2973-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 116px;
	}

	#u2959-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972.MuseMenuActive #u2973-4,#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 232px;
	}

	#u2972,#u2956,#u2979
	{
		width: 114px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2981-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956.MuseMenuActive #u2959-4,#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979.MuseMenuActive #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 348px;
	}

	#u2951
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 465px;
	}

	#u2965
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 115px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944-bw
	{
		min-height: 58px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 34px;
		left: 46.39%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 104px;
		width: 17.19%;
		left: 79.3%;
	}

	.verticalspacer
	{
		min-height: 371px;
	}
}

@media (min-width: 684px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 960px;
	}

	#u2944
	{
		min-height: 58px;
		padding-bottom: 9px;
	}

	#u2944_align_to_page
	{
		max-width: 960px;
	}

	#u2945
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 13.34%;
		left: 1.05%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 581px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 9px;
		left: 37.4%;
	}

	#u2969
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2973-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 116px;
	}

	#u2959-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972.MuseMenuActive #u2973-4,#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 232px;
	}

	#u2972,#u2956,#u2979
	{
		width: 114px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2981-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2956.MuseMenuActive #u2959-4,#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979.MuseMenuActive #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 348px;
	}

	#u2951
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 465px;
	}

	#u2965
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 115px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944-bw
	{
		min-height: 58px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 34px;
		left: 46.36%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 104px;
		width: 17.19%;
		left: 79.28%;
	}

	.verticalspacer
	{
		min-height: 371px;
	}
}

@media (min-width: 613px) and (max-width: 683px)
{
	#muse_css_mq
	{
		background-color: #0002ab;
	}

	#bp_683.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 683px;
	}

	#u2944_align_to_page
	{
		max-width: 683px;
	}

	#u2944_position_content
	{
		margin-bottom: -4px;
		width: 100%;
	}

	#u2945
	{
		width: 25.63%;
		left: 37.19%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 581px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		top: -4px;
		margin-bottom: -4px;
		position: relative;
		left: 7.47%;
	}

	#u2969
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2973-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 116px;
	}

	#u2972,#u2956
	{
		width: 114px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2959-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972.MuseMenuActive #u2973-4,#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956.MuseMenuActive #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 232px;
	}

	#u2981-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 349px;
	}

	#u2979,#u2951
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979.MuseMenuActive #u2981-4,#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 466px;
	}

	#u2965
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 115px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944,#u2944-bw
	{
		min-height: 90px;
	}

	#u302
	{
		margin-top: 360px;
		margin-left: 44.22%;
	}

	#u247-4
	{
		margin-top: 13px;
		width: 28.56%;
		margin-left: 35.73%;
	}
}

@media (min-width: 361px) and (max-width: 612px)
{
	#muse_css_mq
	{
		background-color: #000264;
	}

	#bp_612.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 612px;
	}

	#u2944_align_to_page
	{
		max-width: 612px;
	}

	#u2945
	{
		margin-right: -10000px;
		width: 28.6%;
		left: 35.63%;
	}

	#menuu2947
	{
		z-index: 11;
		width: 581px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 41px;
		left: 2.62%;
	}

	#u2969
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u2973-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972:hover #u2973-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2972:hover #u2973-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2955
	{
		width: 114px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 116px;
	}

	#u2972,#u2956
	{
		width: 114px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2959-4
	{
		width: 114px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2972.MuseMenuActive #u2973-4,#u2956:hover #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956.MuseMenuActive #u2959-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 114px;
		margin: 0px -10000px 0px 0px;
	}

	#u2956:hover #u2959-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2976
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 232px;
	}

	#u2981-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979:hover #u2981-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2979:hover #u2981-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2948
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 349px;
	}

	#u2979,#u2951
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2952-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
	}

	#u2979.MuseMenuActive #u2981-4,#u2951:hover #u2952-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2951:hover #u2952-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2972.MuseMenuActive #u2973-4 p,#u2956.MuseMenuActive #u2959-4 p,#u2979.MuseMenuActive #u2981-4 p,#u2951.MuseMenuActive #u2952-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: dosis, sans-serif;
		font-weight: 600;
		font-style: normal;
	}

	#u2962
	{
		width: 115px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 466px;
	}

	#u2965
	{
		width: 115px;
		background-color: transparent;
		padding-bottom: 27px;
		position: relative;
	}

	#u2951.MuseMenuActive,#u2965.MuseMenuActive
	{
		width: 115px;
		min-height: 0px;
		margin: 0px;
	}

	#u2968-4
	{
		width: 115px;
		min-height: 22px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 22px;
		color: #7F7F7F;
		font-size: 18px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 13px;
		left: 0px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965:hover #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 22px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u2965:hover #u2968-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u2965.MuseMenuActive #u2968-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 18px;
	}

	#u2944,#u2944-bw
	{
		min-height: 90px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 34px;
		left: 46.41%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 104px;
		width: 30.56%;
		left: 65.85%;
	}

	.verticalspacer
	{
		min-height: 348px;
	}
}

@media (max-width: 360px)
{
	#muse_css_mq
	{
		background-color: #000168;
	}

	#bp_360.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 360px;
	}

	#u2944_align_to_page
	{
		max-width: 360px;
	}

	#u2945
	{
		width: 44.45%;
		left: 27.78%;
	}

	#menuu8581
	{
		z-index: 11;
		width: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		top: -3px;
		margin-bottom: -3px;
		position: relative;
	}

	#u8596
	{
		width: 46px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
	}

	#u8597
	{
		width: 46px;
		background-color: transparent;
		padding-bottom: 32px;
		position: relative;
	}

	#u8599-4
	{
		width: 39px;
		min-height: 17px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #7F7F7F;
		font-size: 14px;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		left: 3px;
	}

	#u8597:hover #u8599-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 39px;
		margin: 0px -10000px 0px 0px;
	}

	#u8597.MuseMenuActive #u8599-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 39px;
		margin: 0px -10000px 0px 0px;
	}

	#u8597:hover #u8599-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u8597.MuseMenuActive #u8599-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u8610
	{
		width: 75px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 48px;
	}

	#u8611
	{
		width: 75px;
		background-color: transparent;
		padding-bottom: 32px;
		position: relative;
	}

	#u8614-4
	{
		width: 68px;
		min-height: 17px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #7F7F7F;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		left: 3px;
	}

	#u8611:hover #u8614-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 68px;
		margin: 0px -10000px 0px 0px;
	}

	#u8611.MuseMenuActive #u8614-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 68px;
		margin: 0px -10000px 0px 0px;
	}

	#u8611:hover #u8614-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u8589
	{
		width: 49px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 125px;
	}

	#u8592
	{
		width: 49px;
		background-color: transparent;
		padding-bottom: 32px;
		position: relative;
	}

	#u8593-4
	{
		width: 43px;
		min-height: 17px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #7F7F7F;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		left: 3px;
	}

	#u8592:hover #u8593-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 43px;
		margin: 0px -10000px 0px 0px;
	}

	#u8592.MuseMenuActive #u8593-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 43px;
		margin: 0px -10000px 0px 0px;
	}

	#u8592:hover #u8593-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u8603
	{
		width: 101px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 176px;
	}

	#u8606
	{
		width: 101px;
		background-color: transparent;
		padding-bottom: 32px;
		position: relative;
	}

	#u8606.MuseMenuActive
	{
		width: 101px;
		min-height: 0px;
		margin: 0px;
	}

	#u8608-4
	{
		width: 95px;
		min-height: 17px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #7F7F7F;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		left: 3px;
	}

	#u8606:hover #u8608-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 95px;
		margin: 0px -10000px 0px 0px;
	}

	#u8606.MuseMenuActive #u8608-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 95px;
		margin: 0px -10000px 0px 0px;
	}

	#u8606:hover #u8608-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u8611.MuseMenuActive #u8614-4 p,#u8592.MuseMenuActive #u8593-4 p,#u8606.MuseMenuActive #u8608-4 p
	{
		color: #000000;
		visibility: inherit;
		font-family: carme, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u8582
	{
		width: 81px;
		min-height: 49px;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		left: 279px;
	}

	#u8585
	{
		width: 81px;
		background-color: transparent;
		padding-bottom: 32px;
		position: relative;
	}

	#u8585.MuseMenuActive
	{
		width: 81px;
		min-height: 0px;
		margin: 0px;
	}

	#u8587-4
	{
		width: 75px;
		min-height: 17px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #7F7F7F;
		text-align: center;
		font-family: carme, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		top: 16px;
		left: 3px;
	}

	#u8585:hover #u8587-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u8585.MuseMenuActive #u8587-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		width: 75px;
		margin: 0px -10000px 0px 0px;
	}

	#u8585:hover #u8587-4 p
	{
		color: #29ABE2;
		visibility: inherit;
	}

	#u8585.MuseMenuActive #u8587-4 p
	{
		color: #000000;
		visibility: inherit;
		font-size: 14px;
		font-family: carme, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u2944,#u2944-bw
	{
		min-height: 91px;
	}

	#u302
	{
		margin-top: 364px;
		margin-left: 39.17%;
	}

	#u247-4
	{
		margin-top: 8px;
		width: 55.56%;
		margin-left: 22.23%;
	}

	body
	{
		min-width: 320px;
	}
}

