.version.download /* version checker */
{
	color: #0000E0;
	background-color: #F4B17E;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	z-index: 1;
	background-color: transparent;
	width: 100%;
	background-image: none;
	border-color: #000000;
	margin-left: auto;
}

#pu2392
{
	width: 100%;
	margin-right: -10000px;
}

#u2392
{
	background-color: #F0F0F0;
	z-index: 8;
}

#u2392_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u2393
{
	margin-right: -10000px;
	z-index: 9;
	position: relative;
	background-color: transparent;
	margin-top: 13px;
}

#u2393_img
{
	width: 100%;
}

#menuu2395
{
	border-width: 0px;
	margin-right: -10000px;
	z-index: 11;
	position: relative;
	background-color: transparent;
	border-color: transparent;
}

#u2407-4
{
	min-height: 17px;
	color: #7F7F7F;
	font-weight: 400;
	position: relative;
	left: 0px;
	font-family: carme, sans-serif;
	border-width: 0px;
	margin-right: -10000px;
	background-color: transparent;
	text-align: center;
	top: 16px;
	border-color: transparent;
}

#u2404.MuseMenuActive,#u2399.MuseMenuActive
{
	min-height: 0px;
	margin: 0px;
}

#u2417,#u2403,#u2424,#u2396,#u2410
{
	min-height: 49px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2420,#u2404,#u2427,#u2399,#u2413
{
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u2421-4,#u2429-4,#u2400-4,#u2416-4
{
	min-height: 17px;
	color: #7F7F7F;
	font-weight: 400;
	position: relative;
	top: 16px;
	border-width: 0px;
	margin-right: -10000px;
	background-color: transparent;
	text-align: center;
	font-family: carme, sans-serif;
	border-color: transparent;
}

#u2420:hover #u2421-4 p,#u2404:hover #u2407-4 p,#u2427:hover #u2429-4 p,#u2399:hover #u2400-4 p,#u2413:hover #u2416-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u2420:hover #u2421-4,#u2420.MuseMenuActive #u2421-4,#u2404:hover #u2407-4,#u2404.MuseMenuActive #u2407-4,#u2427:hover #u2429-4,#u2427.MuseMenuActive #u2429-4,#u2399:hover #u2400-4,#u2399.MuseMenuActive #u2400-4,#u2413:hover #u2416-4,#u2413.MuseMenuActive #u2416-4
{
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2420.MuseMenuActive #u2421-4 p,#u2404.MuseMenuActive #u2407-4 p,#u2427.MuseMenuActive #u2429-4 p,#u2399.MuseMenuActive #u2400-4 p,#u2413.MuseMenuActive #u2416-4 p
{
	color: #000000;
	font-weight: 400;
	font-family: carme, sans-serif;
	visibility: inherit;
	font-style: normal;
}

.MenuItem
{
	cursor: pointer;
}

#u2392-bw
{
	z-index: 8;
}

#u3225-4
{
	min-height: 70px;
	font-weight: 400;
	z-index: 42;
	position: relative;
	font-family: muli, sans-serif;
	font-size: 36px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
}

#u302
{
	margin-right: -10000px;
	z-index: 6;
	position: relative;
	width: 79px;
}

#u247-4
{
	min-height: 18px;
	margin-right: -10000px;
	z-index: 2;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1367px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 580px;
		padding-bottom: 12px;
		max-width: 1920px;
	}

	#u2392
	{
		min-height: 85px;
		padding-bottom: 13px;
	}

	#u2392_align_to_page
	{
		max-width: 1920px;
	}

	#u2393
	{
		width: 13.29%;
		left: 1.05%;
	}

	#menuu2395
	{
		width: 643px;
		margin-top: 30px;
		left: 64.8%;
	}

	#u2417,#u2420,#u2421-4
	{
		width: 126px;
	}

	#u2420:hover #u2421-4
	{
		width: 126px;
	}

	#u2420.MuseMenuActive #u2421-4
	{
		width: 126px;
	}

	#u2403
	{
		width: 127px;
		left: 128px;
	}

	#u2404
	{
		width: 127px;
	}

	#u2404.MuseMenuActive,#u2407-4
	{
		width: 127px;
	}

	#u2404:hover #u2407-4
	{
		width: 127px;
	}

	#u2424
	{
		width: 127px;
		left: 257px;
	}

	#u2404.MuseMenuActive #u2407-4,#u2427,#u2429-4
	{
		width: 127px;
	}

	#u2427:hover #u2429-4
	{
		width: 127px;
	}

	#u2396
	{
		width: 127px;
		left: 386px;
	}

	#u2427.MuseMenuActive #u2429-4,#u2399
	{
		width: 127px;
	}

	#u2399.MuseMenuActive,#u2400-4
	{
		width: 127px;
	}

	#u2399:hover #u2400-4
	{
		width: 127px;
	}

	#u2410
	{
		width: 127px;
		left: 515px;
	}

	#u2399.MuseMenuActive #u2400-4,#u2413,#u2416-4
	{
		width: 127px;
	}

	#u2413:hover #u2416-4
	{
		width: 127px;
	}

	#u2413.MuseMenuActive #u2416-4
	{
		width: 127px;
	}

	#u2392-bw
	{
		min-height: 85px;
	}

	#u3225-4
	{
		margin-top: 22px;
		width: 21.36%;
		margin-left: 39.33%;
	}

	#u302
	{
		margin-top: 63px;
		left: 47.97%;
	}

	#u247-4
	{
		margin-top: 116px;
		width: 13.13%;
		left: 82.66%;
	}

	.verticalspacer
	{
		min-height: 248px;
	}
}

@media (min-width: 1081px) and (max-width: 1366px)
{
	#muse_css_mq
	{
		background-color: #000556;
	}

	#bp_1366.active
	{
		display: block;
	}

	#page
	{
		min-height: 549px;
		padding-bottom: 16px;
		max-width: 1366px;
	}

	#pu2392
	{
		padding-bottom: 0px;
		margin-top: 1px;
	}

	#u2392
	{
		min-height: 63px;
		padding-bottom: 14px;
	}

	#u2392_align_to_page
	{
		max-width: 1366px;
	}

	#u2393
	{
		width: 13.26%;
		left: 1.03%;
	}

	#menuu2395
	{
		width: 582px;
		margin-top: 14px;
		left: 55.64%;
	}

	#u2417,#u2420,#u2421-4
	{
		width: 114px;
	}

	#u2420:hover #u2421-4
	{
		width: 114px;
	}

	#u2420.MuseMenuActive #u2421-4
	{
		width: 114px;
	}

	#u2403
	{
		width: 115px;
		left: 116px;
	}

	#u2404
	{
		width: 115px;
	}

	#u2404.MuseMenuActive,#u2407-4
	{
		width: 115px;
	}

	#u2404:hover #u2407-4
	{
		width: 115px;
	}

	#u2424
	{
		width: 115px;
		left: 233px;
	}

	#u2404.MuseMenuActive #u2407-4,#u2427,#u2429-4
	{
		width: 115px;
	}

	#u2427:hover #u2429-4
	{
		width: 115px;
	}

	#u2396
	{
		width: 115px;
		left: 350px;
	}

	#u2427.MuseMenuActive #u2429-4,#u2399
	{
		width: 115px;
	}

	#u2399.MuseMenuActive,#u2400-4
	{
		width: 115px;
	}

	#u2399:hover #u2400-4
	{
		width: 115px;
	}

	#u2410
	{
		width: 115px;
		left: 467px;
	}

	#u2399.MuseMenuActive #u2400-4,#u2413,#u2416-4
	{
		width: 115px;
	}

	#u2413:hover #u2416-4
	{
		width: 115px;
	}

	#u2413.MuseMenuActive #u2416-4
	{
		width: 115px;
	}

	#u2392-bw
	{
		min-height: 63px;
	}

	#u3225-4
	{
		margin-top: 22px;
		width: 21.38%;
		margin-left: 39.32%;
	}

	#u302
	{
		margin-top: 23px;
		left: 47.15%;
	}

	#u247-4
	{
		margin-top: 93px;
		width: 13.11%;
		left: 84.78%;
	}

	.verticalspacer
	{
		min-height: 268px;
	}
}

@media (max-width: 1080px)
{
	#muse_css_mq
	{
		background-color: #000438;
	}

	#bp_1080.active
	{
		display: block;
	}

	#page
	{
		min-height: 560px;
		padding-bottom: 20px;
		max-width: 1080px;
	}

	#u2392
	{
		min-height: 58px;
		padding-bottom: 9px;
	}

	#u2392_align_to_page
	{
		max-width: 1080px;
	}

	#u2393
	{
		width: 13.25%;
		left: 1.02%;
	}

	#menuu2395
	{
		width: 581px;
		margin-top: 9px;
		left: 43.89%;
	}

	#u2417,#u2420,#u2421-4
	{
		width: 114px;
	}

	#u2420:hover #u2421-4
	{
		width: 114px;
	}

	#u2403
	{
		width: 114px;
		left: 116px;
	}

	#u2420.MuseMenuActive #u2421-4,#u2404
	{
		width: 114px;
	}

	#u2404.MuseMenuActive,#u2407-4
	{
		width: 114px;
	}

	#u2404:hover #u2407-4
	{
		width: 114px;
	}

	#u2424
	{
		width: 114px;
		left: 232px;
	}

	#u2404.MuseMenuActive #u2407-4,#u2427,#u2429-4
	{
		width: 114px;
	}

	#u2427:hover #u2429-4
	{
		width: 114px;
	}

	#u2427.MuseMenuActive #u2429-4
	{
		width: 114px;
	}

	#u2396
	{
		width: 115px;
		left: 348px;
	}

	#u2399
	{
		width: 115px;
	}

	#u2399.MuseMenuActive,#u2400-4
	{
		width: 115px;
	}

	#u2399:hover #u2400-4
	{
		width: 115px;
	}

	#u2410
	{
		width: 115px;
		left: 465px;
	}

	#u2399.MuseMenuActive #u2400-4,#u2413,#u2416-4
	{
		width: 115px;
	}

	#u2413:hover #u2416-4
	{
		width: 115px;
	}

	#u2413.MuseMenuActive #u2416-4
	{
		width: 115px;
	}

	#u2392-bw
	{
		min-height: 58px;
	}

	#u3225-4
	{
		margin-top: 17px;
		width: 35.1%;
		margin-left: 32.41%;
	}

	#u302
	{
		margin-top: 34px;
		left: 46.39%;
	}

	#u247-4
	{
		margin-top: 104px;
		width: 17.23%;
		left: 79.26%;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 284px;
	}
}

