	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 580px;
		padding-bottom: 12px;
		max-width: 1920px;
	}

	#u2944
	{
		min-height: 85px;
		padding-bottom: 13px;
	}

	#u2944_align_to_page
	{
		max-width: 1920px;
	}

	#u2945
	{
		margin-right: -10000px;
		margin-top: 13px;
		width: 13.29%;
		left: 1.05%;
	}

	#menuu2947
	{
		width: 643px;
		margin-right: -10000px;
		margin-top: 30px;
		left: 64.8%;
	}

	#u2969,#u2972,#u2973-4
	{
		width: 126px;
	}

	#u2972:hover #u2973-4
	{
		width: 126px;
	}

	#u2972.MuseMenuActive #u2973-4
	{
		width: 126px;
	}

	#u2955
	{
		width: 127px;
		left: 128px;
	}

	#u2956,#u2959-4
	{
		width: 127px;
	}

	#u2956:hover #u2959-4
	{
		width: 127px;
	}

	#u2976
	{
		width: 127px;
		left: 257px;
	}

	#u2956.MuseMenuActive #u2959-4,#u2979,#u2981-4
	{
		width: 127px;
	}

	#u2979:hover #u2981-4
	{
		width: 127px;
	}

	#u2948
	{
		width: 127px;
		left: 386px;
	}

	#u2979.MuseMenuActive #u2981-4,#u2951
	{
		width: 127px;
	}

	#u2951.MuseMenuActive,#u2952-4
	{
		width: 127px;
	}

	#u2951:hover #u2952-4
	{
		width: 127px;
	}

	#u2962
	{
		width: 127px;
		left: 515px;
	}

	#u2951.MuseMenuActive #u2952-4,#u2965
	{
		width: 127px;
	}

	#u2965.MuseMenuActive,#u2968-4
	{
		width: 127px;
	}

	#u2965:hover #u2968-4
	{
		width: 127px;
	}

	#u2965.MuseMenuActive #u2968-4
	{
		width: 127px;
	}

	#u2944-bw
	{
		min-height: 85px;
	}

	#u302
	{
		margin-right: -10000px;
		margin-top: 63px;
		left: 47.97%;
	}

	#u247-4
	{
		margin-right: -10000px;
		margin-top: 116px;
		width: 13.13%;
		left: 82.66%;
	}

	.verticalspacer
	{
		min-height: 340px;
	}

